* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  font-size: 14px;
  color: #000000;
  font-weight: normal;
}

.mercedes-title {
  font-family: 'Playfair Display', serif;
}

.owl-carousel .owl-nav {
  margin: 0;
  height: 0;
}

.owl-carousel .owl-nav button.owl-prev span {
  position: absolute;
  top: 45%;
  left: 2%;
  height: 30px;
  width: 30px;
  font-size: 70px;
  line-height: 10px;
  color: #ffffff;
  transition: all 0.5s;
}

.owl-carousel .owl-nav button.owl-prev span:hover {
  color: #999;
}

.owl-carousel .owl-nav button.owl-next span {
  position: absolute;
  top: 45%;
  right: 2%;
  height: 30px;
  width: 30px;
  font-size: 70px;
  line-height: 10px;
  color: #ffffff;
  transition: all 0.5s;
}

.owl-carousel .owl-nav button.owl-next span:hover {
  color: #999;
}

.btn-dark {
  font-size: 16px;
  color: #dddddd;
  font-weight: normal;
  background-color: #333;
  border: 1px solid #333;
  padding: 7px 20px;
}

.btn-dark:hover {
  background-color: #202020;
  border-color: #202020;
  color: #dddddd;
}

.btn-dark:focus {
  outline: none;
}

.btn-blue {
  font-size: 16px;
  color: #ffffff;
  font-weight: normal;
  background-color: #00adef;
  border: 1px solid #00adef;
  padding: 5px 12px;
}

.btn-blue:hover {
  background-color: #0088c6;
  border-color: #0088c6;
  color: #ffffff;
}

.btn-blue:focus {
  outline: none;
}

header {
  background-color: #000000;
}

header .header__top {
  width: 95%;
  margin: auto;
}

header .header__top ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

header .header__top li {
  margin-right: 20px;
}

header .header__top a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

header .header__top a:hover {
  font-size: 14px;
  color: #0088c6;
  font-weight: normal;
}

header .header__top a i {
  margin-right: 10px;
  font-size: 14px;
  text-align: center;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
}

header .navbar {
  width: 95%;
  margin: auto;
}

header .navbar .navbar-brand img {
  margin-right: 40px;
}

header .navbar .nav-item {
  margin: 0 16px;
}

header .navbar .nav-item .nav-link {
  padding: 0;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

header .navbar .nav-item .nav-link:hover {
  font-size: 14px;
  color: #0088c6;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  header .navbar .nav-item {
    margin: auto;
  }
  header .navbar .nav-item .nav-link {
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
  }
  header .navbar .nav-item .nav-link:hover {
    font-size: 22px;
    color: #0088c6;
    font-weight: normal;
  }
}

.merCarousel--content {
  position: relative;
}

.merCarousel--content .item--background img {
  width: 100%;
  height: 100%;
}

.merCarousel--content .item--content {
  position: absolute;
  top: 10%;
  left: 10%;
  padding-right: 40%;
}

.merCarousel--content .item--content a {
  text-decoration: none;
}

.merCarousel--content .item--content a h3 {
  font-size: 48px;
  color: #ffffff;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 28px;
}

.merCarousel--content .item--content a {
  border-radius: 0;
}

.merCarousel--content .item--content a:hover {
  background-color: #000000;
}

@media screen and (max-width: 992px) {
  .merCarousel--content .item--content a h3 {
    font-size: 34px;
    color: #ffffff;
    font-weight: normal;
    padding-right: 30%;
  }
}

.merArticle {
  background: #000000;
}

.merArticle .merSearch .form-control {
  border: none;
  border-radius: 0;
}

.merArticle .merSearch .form-control:focus {
  box-shadow: none;
}

.merArticle .merSearch .input-group-text {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.merArticle .merArticel {
  padding-right: 40%;
  text-align: justify;
}

.merArticle .merArticel h3 {
  font-size: 22px;
  color: #ffffff;
  font-weight: normal;
}

.merArticle .merArticel p {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
}

.merArticle .merArticel a:first-child {
  font-size: 14px;
  color: #00adef;
  font-weight: normal;
}

.merArticle .merArticel a:first-child:hover {
  font-size: 14px;
  color: #0088c6;
  font-weight: normal;
}

.merArticle .merArticel a.btn {
  border-radius: 0;
  background-color: #00adef;
}

.merArticle .merArticel a.btn:hover {
  background-color: #0088c6;
}
/*# sourceMappingURL=main.css.map */