.merArticle--kraft {
    background-color: $color-black-0;
    .info {
        background-color: $color-black-0;
        // width: calc(100% - 60px);
        margin: 0 auto;
        .info-top {
            span {
                text-align: justify;
                margin-right: 23px;
                @include styleText($fs-0 - 2, $color-white-0, $fw-normal);
                i {
                    font-size: 15px;
                }
            }
            margin-bottom: 20px;
        }
        .info-bottom {
            @include styleText($fs-0 - 2, $color-white-0, $fw-normal);
            text-align: left;
            line-height: 21px;
        }
    }
}
